
.dt-button {
    padding: 6px 12px !important;
    border-radius: 4px !important;
    background-color: #1cc88a !important; /* SB Admin green */
    border: none !important;
    color: white !important;
    font-size: 0.875rem !important;
    height: 31px;
}


@media screen and (max-width: 768px) {
  #addEmpBtn{
    height: 28px;
  }
  #fileUploadBtn{
    height: 28px;
  }
}
.table-responsive {
  overflow-x: auto;
}
.code{
    width: 120px;
}
.fname{
    width: 120px;
}
.lname{
    width: 120px;
}
.email{
    width: 200px;
}
.action{
    width: 165px;
}
.notif-unread{
    background-color: rgb(255,255,255);
}
.notif-read{
    background-color: rgb(230,230,230);
}
/* allow dropdown to expand normally */
#notifList {
  overflow: visible;
}

/* actual scroll container */
#notifScrollArea {
  max-height: 220px;   /* enough for 3 items */
  overflow-y: auto;
}

/* optional polish */
#notifScrollArea::-webkit-scrollbar {
  width: 6px;
}
#notifScrollArea::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}
